span#slide{
    background-image: url(/bundles/carsgalleryblog/images/body_centre_centre.jpg);
    width:954px;
    height:340px;
    overflow: hidden;
    display: inline-block;
    margin-bottom: -1px;
}
img.slider{
    width: 100%;
    height: 100%;
    display: none;
}
div#bBody{
    height:332px;
}


