<html>
<head>
<title>Cars Gallery</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

{% stylesheets
    "@CarsGalleryBlogBundle/Resources/public/css/Main.css"
    "@CarsGalleryBlogBundle/Resources/public/css/Home.css"
%}
<link type="text/css" rel="stylesheet" media="all" href="{{ asset_url }}" />
{% endstylesheets %}

{% javascripts '@CarsGalleryBlogBundle/Resources/public/js/main.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
{% endjavascripts %}
</head>

<body class="bgimage" alt="" onload="Slider();">
<!-- Save for Web Slices (MyPsd.psd) -->
<center>
                <div name="theader">
                            <img src="{{ asset('bundles/carsgalleryblog/images/theader_gauche.jpg') }}"
                            ><img src="{{ asset('bundles/carsgalleryblog/images/theader_rss.jpg') }}"
                            ><img src="{{ asset('bundles/carsgalleryblog/images/theader_droit.jpg') }}"
                            ><br>
                </div>

                <div name="header" class="header">
                            <img src="{{ asset('bundles/carsgalleryblog/images/header_top_gauche.jpg') }}" 
                            ><img src="{{ asset('bundles/carsgalleryblog/images/header_top_Logo.jpg') }}"
                            ><img src="{{ asset('bundles/carsgalleryblog/images/header_top_centre.jpg') }}"
                            ><form
                            ><input class="searchBox" type="text" value="Search your car !! " onclick="this.value=''" onmouseout="this.value='Search your car!!'"
                            ><input class="searchBtn" type="submit" value=""
                            ><img src="{{ asset('bundles/carsgalleryblog/images/header_top_droit.jpg') }}"</form><br>

                </div>
                <div name="bheader">
                            <img class="header_bas_Gauche"src="{{ asset('bundles/carsgalleryblog/images/header_bas_gauche.jpg') }}"
                            ><li class="Home"><a class="Home" href="Home">
                                        <img src="{{ asset('bundles/carsgalleryblog/images/Menu_Home.jpg') }}" 
                                                accesskey="" 
                                                onmouseover="this.src='{{ asset('bundles/carsgalleryblog/images/Menu_Home_Selected.jpg') }}';"
                                                onmouseout ="this.src='{{ asset('bundles/carsgalleryblog/images/Menu_Home.jpg') }}';"></a></li
                                ><li class="Gallery"><a class="Gallery" href="Gallery">
                                        <img src="{{ asset('bundles/carsgalleryblog/images/Menu_Gallery.jpg')}}"
                                                accesskey="" 
                                                onmouseover="this.src='{{ asset('bundles/carsgalleryblog/images/Menu_Gallery_Selected.jpg') }}';"
                                                onmouseout ="this.src='{{ asset('bundles/carsgalleryblog/images/Menu_Gallery.jpg') }}';"></a></li
                                ><li class="Forum"><a class="Forum" href="Forum">
                                        <img src="{{ asset('bundles/carsgalleryblog/images/Menu_Forum.jpg') }}"
                                                accesskey="" 
                                                onmouseover="this.src='{{ asset('bundles/carsgalleryblog/images/Menu_Forum_Selected.jpg') }}';"
                                                onmouseout ="this.src='{{ asset('bundles/carsgalleryblog/images/Menu_Forum.jpg') }}';"></a></li
                                ><li class="Contact"><a class="Contact" href="Contact">
                                        <img src="{{ asset('bundles/carsgalleryblog/images/Menu_Contact.jpg') }}"
                                                accesskey="" 
                                                onmouseover="this.src='{{ asset('bundles/carsgalleryblog/images/Menu_Contact_Selected.jpg') }}';"
                                                onmouseout ="this.src='{{ asset('bundles/carsgalleryblog/images/Menu_Contact.jpg') }}';"></a></li
                                ></li><img class="header_bas_Gauche"src="{{ asset('bundles/carsgalleryblog/images/header_bas_droit.jpg') }}" 
                            >
                            
                
            </div>
            <div name="tbody">
                <img src="{{ asset('bundles/carsgalleryblog/images/body_top.jpg') }}"
                ><br>
            </div
            ><img src="{{ asset('bundles/carsgalleryblog/images/body_centre_gauche.jpg') }}"
            ><span id="slide">
                            <img id="1" class="slider" src="{{ asset('bundles/carsgalleryblog/images/slider/img.jpg') }}">
                            <img id="2" class="slider" src="{{ asset('bundles/carsgalleryblog/images/slider/img2.jpg') }}">
                            <img id="3" class="slider" src="{{ asset('bundles/carsgalleryblog/images/slider/img3.jpg') }}">
            </span><img src="{{ asset('bundles/carsgalleryblog/images/body_centre_droit.jpg') }}"
            ><img src="{{ asset('bundles/carsgalleryblog/images/body_body.jpg') }}">
            <div name="footer">
                <img src="{{ asset('bundles/carsgalleryblog/images/footer_gauche.jpg') }}"
                ><img src="{{ asset('bundles/carsgalleryblog/images/footer_centre.jpg') }}"
                ><img src="{{ asset('bundles/carsgalleryblog/images/footer_droit.jpg') }}"
                ><img src="{{ asset('bundles/carsgalleryblog/images/Footer_Footer.jpg') }}"
                ><br>
            </div>
    </center>   
</body>
    
</html>