input{ 
    width: 100%; 
    padding:15px;
    background-color: transparent;
    outline:none;border:solid 0px;
    color:#ABABAB;
    font: 1em/1.25em Arial, Helvetica, sans-serif;
    font-style:italic}
td{
    margin:-6px;
    padding:0;
}

li{
    display: inline-block;
    margin-right: -4px;
    
}
img.header_bas_Gauche{
    margin-top: -4px;
}
a{
    width: 108px;
    height: 53px;
}

a:active{
    
}

li.Blank{
    width: 96px;
    height: 53px;
}
ul{
    padding: 0px;
    margin: 0px;
}
div.slide{
    width:956px;
    height:340px;
    overflow: hidden;
    
}
img.slider{
    width: 100%;
    height: 100%;
    display: none;
    
}
body.bgimage {
    background-image:url(/bundles/carsgalleryblog/images/bgimage.jpg);
   background-size: 100%;
    width: 100%;
   height: 100%;
   background-repeat: no-repeat;
   background-color: #000000;
}