/* 
    Document   : Main
    Created on : 14-juil.-2013, 17:11:51
    Author     : Vince
    Description:
        Purpose of the stylesheet follows.
*/

/* 
    Document   : Gallery
    Created on : 13-juil.-2013, 17:10:42
    Author     : Vince
    Description:
        Purpose of the stylesheet follows.
*/

body.bgimage {
   background-image:url(/bundles/carsgalleryblog/images/bgimage.jpg);
   background-size: 100%;
   width: 100%;
   height: 100%;
   background-repeat: no-repeat;
   background-color: #000000;
}

.searchBox{
    background-image: url(/bundles/carsgalleryblog/images/header_top_search.jpg);
    width:404px;
    height:89px; 
    background-color: transparent;
    outline:none;border:solid 0px;
    color:#ABABAB;
    background-repeat: no-repeat;
    font: 1em/1.25em Arial, Helvetica, sans-serif;
    font-style:italic;
    padding:15px;
    vertical-align: top;
    
}
form{
    width: 525px;
    height: 89px;
    padding:0px;
    border:0px;
    display:inline-block;
    word-spacing: -1px;

}
.searchBtn{
    background-image: url(/bundles/carsgalleryblog/images/header_top_searchbtn.jpg);
    width: 101px;
    height: 89px;
    border: 0px;
    margin-left: -1px;
    display:inline;
    margin-top: -1px;
}
.header{
    height:89px;
}
ul{
   display: inline;
}
li{
    display: inline-block;
   
}
a{
    width: 108px;
    height: 53px;
}


span#slide{
    background-image: url(/bundles/carsgalleryblog/images/body_centre_centre.jpg);
    width:954px;
    height:340px;
    overflow: hidden;
    display: inline-block;
    margin-bottom: -1px;
}
img.slider{
    width: 100%;
    height: 100%;
    display: none;
}
div#bBody{
    height:332px;
}


